.navbar{
    border-bottom: 2px solid #ffffff;
    box-shadow: 2px 2px 5px #ccc;
}
.about-img{
    width: 500px;
    height: 450px;
    border-radius: 5px;
    object-fit: fill;
}
@media (max-width:500px) {
    .about-img{
        width: 400px;
        height: 350px;
    }
}